body {
  background-color:#C8E3D4;
     }
hr {
  border-color: #87AAAA;
  border-style: none ;
  border-top-style: dotted;
  border-width: 3px;
  width : 5%;
}
h1 {
  color: #544179;
  margin-top: 1px;
}
h3 {
  color: #6166B3;
}
a {
  color: #105652;
}
th {
  color: #105652;
}
h4 {
  color: #105652;
}
 .mypic:hover {
   height:200px;
   background-color: #678983;
 }
 div{
   margin : 0 ;
 }
.mountain{
  height: 100px;
}
.cloud {
  height: 30px;
}
